.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(3, 330px);
  grid-gap: 30px;
  justify-content: center;
}

.card {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card > p {
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
}
