body {
  background-color: #252827;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: repeat(4, auto-fit);
  grid-gap: 30px;
  justify-content: center;
}

.card {
  border-radius: 25px;
  background-color: #00a04a;

  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 1vh;
  border-color: white;
}

.card > p {
  text-align: center;
  font-size: 10vh;
  font-weight: bold;

  color: white;
}

.card > p > a {
  color: white;
  text-decoration: none;
}

.activeCard {
  width: 90%;
  height: 95%;
  margin-top: 2.5vh;

  margin-left: auto;
  margin-right: auto;
}

.activeCard > p {
  text-align: center;
  font-size: 25vh;
  font-weight: bold;
}